<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cemlad CRM</title>
    <link rel="stylesheet" href="../../public/css/style/normalize.css">
    <link rel="stylesheet" href="../../public/css/style/general.css">
    <link rel="stylesheet" href="../../public/css/style/index.css">
    <link rel="stylesheet" href="../../public/css/layout/index-layout.css">
    <link rel="stylesheet" href="../../public/css/layout/general-layout.css">
</head>
<body>
    <nav>
        <img class="icon" src="../../public/img/logo-cemlad.jpeg" alt="Logo del Cemlad">
    </nav>

    <main>
        <header class="header">
            <img class="slogan" src="../../public/img/logo-text.jpg" alt="Logo del Cemlad">
            <h2 class="text-blue text-center">Historias llenas de <br> E&#769;XITO</h2>
        </header>
        <section class="unit2">
            <form class="form" action="">
                <h2 class="text-gray">Formulario de ingreso</h2>
                <div class="input-form">
                    <label class="login-text text-standar" for="">Usuario</label>
                    <input type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Contraseña</label>
                    <input type="password" required>
                </div>

                <button class="btn-form unit3">Ingresar</button>
            </form>
        </section>
        <footer class="footer unit3">
            <div>
                <a class="text-standar" href="/app/view/signup.html"><small>Quiero registrarme</small></a>
                <a class="text-standar" href="/"><small>Continuar sin una cuenta</small></a>
            </div>
        </footer>
    </main>

</body>
</html>