<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cemlad CRM</title>
    <link rel="stylesheet" href="../../public/css/style/normalize.css">
    <link rel="stylesheet" href="../../public/css/style/general.css">
    <link rel="stylesheet" href="../../public/css/layout/layout-standar.css">
    <link rel="stylesheet" href="../../public/css/layout/general-layout.css">
</head>
<body>
    <nav class="nav">
        <div></div>
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
        <div></div>
    </nav>

    <main>

        <div class="whatsapp"><a class="text-center" href="">W</a></div>
        
        <h2 class="text-center">Mo&#769;dulo</h2>
        <div class="grid" id="navigator">
            <nav class="nav nav-small nav-option justify-center">
                <div></div>
                <div><img class="icon-option2" src="../../public/img/logo-cemlad.jpeg" alt=""></div>
                <div><img class="icon-option2" src="../../public/img/logo-cemlad.jpeg" alt=""></div>
                <div></div>
            </nav>
        </div>

        <!-- Filter view -->

        <section class="content unit"  id="filter">
            <form class="form" action="">
                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Nombre</label>
                    <input class="inputs" type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Nombre</label>
                    <input class="inputs" type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Nombre</label>
                    <input class="inputs" type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Nombre</label>
                    <input class="inputs" type="text" required>
                </div>
                <button class="btn-form items-columns unit2">Filtrar</button>
            </form>
        </section>

        <!-- Main view -->

        <section class="content unit" id="information-view">
            <h2 class="text-center">Titulo</h2>
            <div class="card-content">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div></div>
            </div>
        </section>

        <!-- Form view -->

        <section class="content unit" id="form">
            <h2 class="text-center">Carrera</h2>
            <div class="card"></div>
            <button class="btn-form items-columns unit2">Contactar</button>
        </section>
    </main>

    <script src="../../public/js/functions/showOrHide.js"></script>
</body>
</html>