<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cemlad CRM</title>
    <link rel="stylesheet" href="../../public/css/style/normalize.css">
    <link rel="stylesheet" href="../../public/css/style/general.css">
    <link rel="stylesheet" href="../../public/css/style/awelcome.css">
    <link rel="stylesheet" href="../../public/css/layout/layout-standar.css">
</head>
<body>
    <nav class="nav">
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
        <div><a href=""><img class="icon-option" src="../../public/img/logo-cemlad.jpeg" alt=""></a></div>
    </nav>

    <main>
        <section class="content unit">
            <h2 class="text-center">BIENVENIDA</h2>
            <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, beatae nisi. Modi cum, aspernatur laudantium, distinctio possimus sapiente deserunt ea ab, libero nulla quasi voluptate. Necessitatibus modi quod quasi! Repudiandae.</p>
        </section>
    </main>

</body>
</html>