<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cemlad CRM</title>
    <link rel="stylesheet" href="../../public/css/style/normalize.css">
    <link rel="stylesheet" href="../../public/css/style/general.css">
    <link rel="stylesheet" href="../../public/css/style/index.css">
    <link rel="stylesheet" href="../../public/css/layout/signup-layout.css">
    <link rel="stylesheet" href="../../public/css/layout/general-layout.css">
</head>
<body>
    <nav>
        <img class="icon" src="../../public/img/logo-cemlad.jpeg" alt="Logo del Cemlad">
    </nav>

    <main>
        <header class="header">
            <img class="slogan" src="../../public/img/logo-text.jpg" alt="Logo del Cemlad">
        </header>
        <section class="unit">
            <form class="form" action="">
                <h2 class="text-gray title">Formulario de registro</h2>
                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Nombre</label>
                    <input class="inputs" type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Apellido</label>
                    <input class="inputs" type="text" required>
                </div>
                
                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Email</label>
                    <input class="inputs" type="email" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Carrera</label>
                    <select class="inputs" name="" id="">
                        <option value="">Guía Nacional de Turismo</option>
                        <option value="">Tecnología Superior en Administración</option>
                        <option value="">Tecnología Superior en Contabilidad</option>
                        <option value="">Tecnología Superior en Marketing</option>
                        <option value="">Tecnología Superior en Estética Integral</option>
                        <option value="">Tecnología Superior en Desarrollo de Software</option>
                        <option value="">Tecnología Superior en Teología Pastoral</option>
                    </select>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Usuario</label>
                    <input class="inputs" type="text" required>
                </div>

                <div class="input-form unit2">
                    <label class="login-text text-standar" for="">Contraseña</label>
                    <input class="inputs" type="password" required>
                </div>

                <button class="btn-form items-columns unit3">Registrar</button>
            </form>
        </section>
        <footer class="footer unit3">
            <div>
                <a class="text-standar" href="/app/view/index.html"><small>Ya tengo una cuenta</small></a>
            </div>
        </footer>
    </main>

</body>
</html>