.card-career{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
}

.div-options{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.nav-small{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
}

.content-columns{
    display: grid;
    grid-column: 1/-1;
}

.items-columns{
    grid-column: 1/-1;
}

.one-column{
    grid-column: 1/2;
}